body{
    /* define um ou varios tipos de fontes */
    font-family: Arial, Helvetica, sans-serif;

}

header{
    /* define a largura do componente, detalhe se ele vier sozinho o height será definido proporcionalmente */
    width: 300px;

    /* define um espaçamento entre a borda do elemento principal e os seus componentes internos, esse espaçamento é definido sempre nos 4 cantos do elemento principal, e caso não caiba, ele irá aumentar o elemento principal, ex esse elemento possui 300px se eu colocar um padding de 100px seriam 300px + 200px (100 de cada lado) */
    padding: 10px;

    /* define a cor do fundo do elemento */
    background: beige;
}

h1{
    /* define a cor do elemento, neste caso por ser um elemento de texto ele mudará a cor do texto, se utilizassemos um background ele iria mudar o fundo do elemento ficar com tipo uma marcação. */
    color: olivedrab;

    /* Aqui esta sendo criada uma linha embaixo do elemento, essa linha possui 1px de largura, e é do estilo dotted (pontilhado) e possui a cor darkgreen */
    border-bottom: 1px dotted darkgreen;

    /* acrescenta um espaço acima do elemento aparentemente so aceita 0 ou 1  */
    margin: 0;

    /* acrescenta um espaçamento abaixo do elemento, neste caso ele aumentou a distancia entre o h1 e sua border-bottom  */
    padding-bottom: 10px;

    /* ajusta o tamanhho da fonte do elemento, caso fosse aplicado em um elemento de container todos os elementos de texto iriam assumir esse tamanho, caso não fosse definido nenhum tamanho para eles */
    font-size: 30px;
}

p{
    color: orange;
    
}